{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col s12">
			<h1 class="thin">Alex Arendsen</h1>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m8 l9">
			<div class="card">
				<div class="card-content">
					A card appears!
				</div>
			</div>
			<div class="row">
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">
							<span class="grey-text card-title">Card 2</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas odio odio, imperdiet ultricies sollicitudin a, ultricies id mauris. Ut egestas accumsan ex, id commodo orci maximus a. Nam viverra tortor ac fermentum sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tincidunt, sapien in tempus egestas, nunc eros auctor sem, vel pellentesque ipsum nunc at lacus. Sed pretium tristique urna, convallis efficitur mauris congue quis. Nullam quis condimentum purus, vitae malesuada augue. Curabitur quis ipsum sit amet justo viverra placerat ut id nibh. Sed ultricies ligula molestie tristique eleifend. Fusce lacinia eros felis, eu auctor lectus condimentum eu.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">
							<span class="grey-text card-title">Card 3</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas odio odio, imperdiet ultricies sollicitudin a, ultricies id mauris. Ut egestas accumsan ex, id commodo orci maximus a. Nam viverra tortor ac fermentum sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tincidunt, sapien in tempus egestas, nunc eros auctor sem, vel pellentesque ipsum nunc at lacus. Sed pretium tristique urna, convallis efficitur mauris congue quis. Nullam quis condimentum purus, vitae malesuada augue. Curabitur quis ipsum sit amet justo viverra placerat ut id nibh. Sed ultricies ligula molestie tristique eleifend. Fusce lacinia eros felis, eu auctor lectus condimentum eu.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m4 l3">
			<ul>
				<li>
					<a href="#">Sample Link</a>
				</li>
				<li>
					<a href="#">Sample Link</a>
				</li>
				<li>
					<a href="#">Sample Link</a>
				</li>
				<li>
					<a href="#">Sample Link</a>
				</li>
				<li>
					<a href="#">Sample Link</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
